.content {
    padding: 20px;
    background-color: #f4f4f4;
  }
  
  .title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
    color: #333; /* Color de texto oscuro */
  }
  
  .date-time {
    --padding-start: 10px;
    --padding-end: 10px;
    margin-bottom: 20px;
  }
  
  ion-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Asegura que la altura del contenido ocupe el 100% del viewport height */
    --background: white;
    position: relative;
    text-align: center;
  }
  
  .date-container {
    position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 80%;
      height: 85%;
      margin: auto;
  }
  
  .btnCogerCita {
    margin-top: 10%;
  }
  
  h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 1%;
  }