.settings-container {
    position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 90%;
      height: 80%;
      margin: auto;
      border: 5px solid #428CFF;
      border-radius: 5%;
      box-shadow: 5px 5px 5px #9a9c9e;
      padding: 3%;
      background-color: #428CFF;
  }

  ion-item {
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    margin-bottom: 8%;
    --background: white;
    border: 3px solid #428CFF;
    color: #428CFF;
    --highlight-color-invalid: #428CFF; // invalid underline color
        --highlight-color-valid: #428CFF; // valid underline color
}

.btnSave {
    --background: white;
    --color: #428CFF;
    margin-bottom: 80%;
}