<ion-content class="ion-padding">

  <ion-fab slot="fixed" vertical="top" horizontal="start" (click)='myBackButton()'>
    <ion-fab-button>
      <ion-icon name="chevron-back-sharp"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div class="settings-container">

    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="persona.nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Primer apellido</ion-label>
      <ion-input [(ngModel)]="persona.apellido1"></ion-input> 
    </ion-item>

    <ion-item>
      <ion-label position="floating">Segundo apellido</ion-label>
      <ion-input [(ngModel)]="persona.apellido2"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Dni</ion-label>
      <ion-input [(ngModel)]="persona.dni"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Teléfono</ion-label>
      <ion-input [(ngModel)]="persona.telf"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input [(ngModel)]="persona.email"></ion-input>
    </ion-item>

  </div>

  <ion-fab slot="fixed" vertical="bottom" horizontal="center" (click)="actualizarPersona()">
    <ion-fab-button class="btnSave">
      <ion-icon name="save"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
